[MESSAGES CONTROL]
disable=
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    unspecified-encoding,
    no-name-in-module,
    fixme,
    too-few-public-methods,
    invalid-name,
    too-many-arguments,
    too-many-instance-attributes,
    redefined-outer-name,
    duplicate-code,
    too-many-ancestors,
    arguments-differ

[GENERATED MEMBERS]
generated-members=torch.*
